<%- include('partials/header', { title: '전시 목록' , cssFile: 'exhibitions' }) %>

   <h1>전국의 모든<br />
      졸업 전시를 만나 보세요.</h1>
   <span>우리 학교, 우리 학과 졸업 전시가 없다면? <a href="/exhibitions/register">전시 등록 바로가기</a></span>
   <h2>졸업 전시 리스트</h2>
   <div class="exhibition-list">
      <% exhibitions.forEach(function(exhibition) { %>
         <div class="exhibition-card">
            <img src="<%= exhibition.poster %>" alt="포스터">
            <div class="exhibition_nam">
               <%= exhibition.exhibition_name %>
            </div>
            <div class="exhibition-school">
               <%= exhibition.school %>
            </div>
            <a href="/exhibitions/<%= exhibition._id %>/detail" class="ex-detail">상세 보기</a>

            <!-- 로그인한 사용자만 삭제 버튼 표시 -->
            <% if (session.user) { %>
               <button onclick="deleteExhibition('<%= exhibition._id %>')" class="ex-del">삭제</button>
               <% } %>
         </div>
         <% }); %>
   </div>

   <script>
      async function deleteExhibition(id) {
         if (confirm("정말로 이 전시를 삭제하시겠습니까?")) {
            try {
               const response = await fetch(`/exhibitions/${id}`, {
                  method: 'DELETE',
                  headers: { 'Content-Type': 'application/json' },
               });

               if (response.ok) {
                  alert("전시가 삭제되었습니다.");
                  window.location.reload(); // 삭제 후 페이지 새로고침
               } else {
                  alert("전시 삭제에 실패했습니다.");
               }
            } catch (error) {
               console.error("전시 삭제 오류:", error);
               alert("전시 삭제 중 오류가 발생했습니다.");
            }
         }
      }
   </script>

   <%- include('partials/footer') %>